
<div id = "events" class="jumbotron text-center">
    <h1>List All Events</h1>

    <p>{{ message }}</p>

    <div ng-controller="eventsController as list">
        <table class ="table table-striped table-bordered align="center" valign="left">

        <thead>
        <th>Event title</th>
        <th>Event Description</th>
        <th>Event Place</th>
        <th>Event Start Date</th>
        <th>Event Finish Date</th>
        <th>Event Status</th>
        <th>Edit/Delete</th>

        </thead>
        <tbody>
        <tr ng-repeat="event in events" ng-include="getTemplate(event)">
            <script type="text/ng-template" id="display">


                <td name="title">{{event.title}}</td>
                <td name="description">{{event.description}}</td>
                <td name="place">{{event.place}}</td>
                <td name="startdate">{{event.startdate | date:'yyyy-MM-dd'}}</td>
                <td name="finishdate">{{event.finishdate | date:'yyyy-MM-dd'}}</td>
                <td name="status">{{event.status}}</td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="editEvent(event)">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                    <button type="button" class="btn btn-default" ng-click="delete(event._id)">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>

                </td>
            </script>
            <script type="text/ng-template" id="edit">
                <td name="title"><input type="text" ng-model=event.title class="form-control input-sm"></input></td>
                <td><input type="text" ng-model=event.description class="form-control input-sm"></input></td>
                <td><input type="text" ng-model=event.place class="form-control input-sm"></input></td>
                <td><input type="text" ng-model=event.startdate class="form-control input-sm"></input></td>
                <td><input type="text" ng-model=event.finishdate class="form-control input-sm"></input></td>
                <td><input type="text" ng-model=event.status class="form-control input-sm"></input></td>


                <td>
                    <button type="button" class="btn btn-primary" ng-click="updateEvent(event)">Save</button>
                    <button type="button" class="btn btn-danger" ng-click="reset()">Cancel</button>
                </td>
            </script>
        </tr>

        </tbody>
        </table>

    </div>

</div>
