<div class="jumbotron text-center">

    <h1>{{ message }}</h1>

    <div class="row">
        <div class="col-md-8 col-md-offset-3">
            <p>
                <table>
                    <tr>
                        <td>
            <p>
                <i>Get off the couch and join us!</i>
            <p>Welcome to Marguerite Events. We have a lot of great events already created. Create your own!</p>
            <p>Just click <a href ="#event">here</a> to go to the</p>
            <p>Events page and organise an event</p>
            </td>
            <td><img src="./public/images/marguerite.jpg"></td>
            </tr>
            </table>
            </p>
        </div></div>
</div>